button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: var(--main);
	background-color: white;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	font-weight: bold;
	transition: color 750ms ease-in-out;
	width: inherit;
}
