.session-buttons-container {
	display: flex;
	justify-content: space-around;
}

.session-button {
	font-size: 16px;
	width: 180px;
}

.timer-display {
	text-align: center;
	font-size: 180px;
	line-height: 34px;
	height: 110px;
	font-weight: bold;
	position: relative;
	top: 85px;
}

.timer-button {
	position: relative;
	display: flex;
	justify-content: center;
	top: 100px;
	width: 200px;
}

.timer-button-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.timer-container {
	background-color: var(--accent);
	border-radius: 35px;
	height: 420px;
	padding: 40px;
	width: 650px;
}

.active-task-container {
	width: 100%;
	text-align: center;
	position: relative;
	top: 130px;
	color: #c0c0c0;
}
