.session-buttons-container {
	display: flex;
	justify-content: space-around;
}

.session-button {
	font-size: 15px;
	width: 180px;
}

.timer-display {
	text-align: center;
	font-size: 180px;
	line-height: 34px;
	height: 110px;
	font-weight: bold;
	position: relative;
	top: 110px;
}
