@page "/"
@using PomTimer.Client.Shared.Components.PomTimerFlatButton

<PageTitle>PomTimer</PageTitle>

<h1>Welcome to PomTimer Blazor</h1>

<div class='timer-container'>
	<div class='session-buttons-container'>
		<div class="session-button">
			<PomTimerFlatButton Text="Pomodoro" OnClick="TestClick"/>
		</div>
		<div class="session-button">
			<PomTimerFlatButton Text="Short Break" OnClick="TestClick"/>
		</div>
		<div class="session-button">
			<PomTimerFlatButton Text="Long Break" OnClick="TestClick"/>
		</div>
	</div>
	<div class= "timer-display">
		@* DEBUG will be replaced with variable *@
		25:00
	</div>
</div>

@code 
{
	private void TestClick()
	{
		Console.WriteLine("Test Click");
	}
}

@* TODO []: when merging this branch (timer-ui-v2) go through the whole app
	add comments, clean up code, orgainze, and make sure additions perfectly match old pomtiemr
 *@