@page "/"

@using PomTimer.Client.Shared.Components.PomTimerFlatButton
@using PomTimer.Client.Shared.Components.PomTimerAnimatedButton

<PageTitle>PomTimer</PageTitle>

<h1>Welcome to PomTimer Blazor</h1>

<div class="timer-container">
	<div class="session-buttons-container">
		<div class="session-button">
			<PomTimerFlatButton Text="Pomodoro"/>
		</div>
		<div class="session-button">
			<PomTimerFlatButton Text="Short Break"/>
		</div>
		<div class="session-button">
			<PomTimerFlatButton Text="Long Break"/>
		</div>
	</div>
	<div class="timer-display">
		@timerDisplayText
	</div>
	<div class= "timer-button-container">
		<div class= "timer-button">
		@* DEBUG replace text with variable *@
		<PomTimerAnimatedButton Text=@timerActionText OnClick="JsHandleTimerAction"/>
		</div>
	</div>
	<div class= "active-task-container">
		No active task
	</div>
</div>